{% extends 'base.html.twig' %}

{% block title %}AvisClients index{% endblock %}

{% block body %}
    <h1>AvisClients index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Contenu</th>
                <th>Display</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avis_client in avis_clients %}
            <tr>
                <td>{{ avis_client.id }}</td>
                <td>{{ avis_client.Nom }}</td>
                <td>{{ avis_client.Contenu }}</td>
                <td>{{ avis_client.Display ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_avis_clients_show', {'id': avis_client.id}) }}">show</a>
                    <a href="{{ path('app_avis_clients_edit', {'id': avis_client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_avis_clients_new') }}">Create new</a>
{% endblock %}
