{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
   
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    <section class="oneTwo" style= "margin-left: 25%";>
    {{ form_errors(registrationForm) }}
    <div class="two">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button style="margin: 5%" type="submit" class="btn btn-lg btn-primary">Register</button>
    {{ form_end(registrationForm) }}
    </div>
    </section>
    
{% endblock %}
